{% extends '::base.html.twig' %}
{% block title %}Empresas GFCT{% endblock %}


{% block body %}

<h2>Listado de Configuraciones</h2>
<div class="table-responsive">
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Parámetro</th>
            <th>Configuración</th>
        </tr>
      </thead>
      {% for conf in conf %}
      <tr>
          <td>{{ conf.id}}</td>
          <td>{{ conf.param}}</td>
          <td>{{ conf.configuracion}}</td>
      </tr>
      {% endfor %}
      </table>
</div>
{% endblock %}
