
.tabla{
  width: 100%;
border-collapse: collapse;
}
/*estilos de all.html Zebra striping */
tr:nth-of-type(odd) {
background: #eee;
}
th {
background: black;
color: white;
font-weight: bold;
}
td, th {
padding: 6px;
border: 1px solid #ccc;
text-align: left;
}
/*estilos de all.html Zebra striping */
